body{
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.71429;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/* Menu */
.menu{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu.flex-container{
	justify-content: flex-start; /*elementos alineados a la izquierda*/
}

.logo-container{
	margin-left: auto; /*logo en la derecha*/
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

/* Home */
#home{
	height: 600px;
	margin-top: 70px;

	background-image: url(../images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
	flex-direction: column; /*despliegue vertical*/

	color: whitesmoke;
}

.text-home{
	font-size: 2.4em;
}

.btn-home{
	background: #2Ecc71;
	color: #fff;
	padding: 11px 20px;
	border-radius: 10px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 63px;
	display: inline-block;
	font-size: 14px;
}

/* Services */
#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}

#services.flex-container{
	justify-content: space-around; /*elementos con espacio a cada lado*/
	flex-wrap: wrap; /*elementos no se vean forzados a desplegarse en una sola línea*/
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}

/* footer */
footer{
	text-align: center;
	height: 70px;
	background-color: #373b47;
	color: white;
	padding-top: 7px;
}